# TODO: check with vpn side: how to finalize the vpn address. 
export proxy=http://10.250.64.99:3128

# Used by yum wget git
export http_proxy=$proxy
export https_proxy=$proxy

# Used by pip
export HTTP_PROXY=$proxy
export HTTPS_PROXY=$proxy