[DEFAULT]

f5_agent_mode = lite
periodic_interval = 60
debug = True

agent_id = POD_{{ provider }}
environment_prefix = {{ provider }}

f5_ha_type = {{bigip_pair_mode}}
icontrol_hostname = {{ bigip_hostnames }}
icontrol_password = {{ bigip_admin_password }}
f5_global_routed_mode = False

auth_version = v3
os_auth_url = http://{{ os_auth_host }}:5000/v3
os_username = admin
os_password = {{ os_password }}
os_user_domain_name = default
os_project_name = admin
os_project_domain_name = default

cert_manager = f5_openstack_agent.lbaasv2.drivers.bigip.barbican_cert.BarbicanCertManager

f5_vtep_folder = DELETE_ME
f5_vtep_selfip_name = DELETE_ME

member_update_mode = DELETE_ME
member_update_number = -1
member_update_interval = 300
member_update_agent_number = {{ server_count }}
member_update_agent_order = {{ server_index }}

f5_request_logging_profile = /Common/request-log

connection_limit_ratio = 5
connection_rate_limit_ratio = 5
