[DEFAULT]
debug = True
changed_at = {{ config_timestr }}-{{ versions.lbaas }}
api_workers = {{ api_workers | default(1) }}
rpc_workers = {{ rpc_workers | default(1) }}

[service_auth]
admin_user = admin
insecure = True
admin_tenant_name = admin
auth_version = 2
auth_url = http://{{ os_auth_host }}:5000/v2.0
admin_password = {{ os_password }}

[service_providers]
DELETE_ME = yes