[DEFAULT]
f5_driver_perf_mode = {{ versions.config_set.f5_driver_perf_mode | default(3) }}

[quotas]
quota_loadbalancer = -1
quota_pool = -1

[service_providers]
DELETE_ME = yes

[extra]
enable_bw = True
enable_member_status = True