[DEFAULT]
debug = True
changed_at = {{ config_timestr }}

[service_auth]
admin_user = admin
insecure = True
admin_tenant_name = admin
auth_version = 2
auth_url = http://{{ os_auth_host }}:5000/v2.0
admin_password = {{ os_password }}

[service_providers]
DELETE_ME = yes