---

# using separate repo for storing patch files.
- name: checkout patches for setup neutron env
  git:
    repo: https://github.com/zongzw/neutron_lbaas_pike-devops-bed
    dest: ../conf.d/patches/pike
  delegate_to: localhost
  environment: "{{ proxy_env | default({}) }}"
  run_once: true
  tags: copyfile

- name: list the files of patches directory
  shell: ls chdir=../conf.d/patches/pike/patches
  delegate_to: localhost
  register: patch_files
  tags: copyfile
  run_once: True

- name: customize neutron* code
  copy: src=../conf.d/patches/pike/patches/{{ item }} dest=/ force=yes
  with_items: "{{ patch_files.stdout_lines }}"
  tags: copyfile

- import_tasks: ./task-neutron-db-info.yml
  tags: migratedb

- name: migrate neutron db tables
  mysql_db:
    name: "{{neutron_db_info.results[3].stdout}}"
    login_user: "{{neutron_db_info.results[0].stdout}}"
    login_password: "{{neutron_db_info.results[1].stdout}}"
    login_host: "{{neutron_db_info.results[2].stdout}}"
    target: /tmp/scripts/customizing.db.sql
    state: import
  run_once: True
  tags: migratedb