- name: collect bigip device info
  bigip_device_info:
    gather_subset:
      # - system-info
      - partitions
      # - provision-info
      # - interfaces
      # - client-ssl-profiles
      - ltm-pools
      - virtual-servers
      # - vlans
      # - nodes
      - virtual-addresses
      # - profiles
      # - devices
      # - http-profiles
      - monitors
    provider:
      user: admin
      server: "{{ item }}"
      password: "{{ hostvars[item].admin_password }}"
      validate_certs: False
  register: bigip_infos
  with_items: "{{ groups['bigips'] }}"
  delegate_to: localhost

- name: assert resources are created on bigips
  assert:
    that:
      - "'{{project_id}}' in '{{item.partitions | map(attribute='name') | list | join(' ') }}'"
      - "'{{loadbalancer_id}}' in '{{item.virtual_addresses | map(attribute='name') | list | join(' ') }}'"
      - "'{{listener_id}}' in '{{item.virtual_servers | map(attribute='name') | list | join(' ') }}'"
      - "'{{pool_id}}' in '{{item.ltm_pools | map(attribute='name') | list | join(' ') }}'"
      # TODO: check member and healthmonitor
  with_items: "{{bigip_infos.results}}"
  loop_control:
    label: "{{ item.item }}"
  no_log: yes
